<html ng-app>
<head>
  <link rel="stylesheet" href="css/bootstrap.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <script type='text/javascript' src="angular.min.js"></script>
  <script type='text/javascript' src="jquery.min.js"></script>
  <script type='text/javascript' src="bootstrap.min.js"></script>
</head>

<body style="padding: 50px">

	<div ng-controller="AlbumListController">

		<p> There are {{albums.length}} albums to view: </p>
		<p>
			<input placeholder="Type to search..." type="text" ng-model="searchFor" size="30" />
		</p>
		
		<div class="album panel panel-primary" ng-repeat="album in albums | filter:{title:searchFor} | orderBy:'date'">
			<!-- default panel contents -->
			<div class="panel-heading">
				<div style="float:right">
					{{album.date}}
				</div>
				{{ album.title }} ({{album.name}})
			</div>
			<div class="description" > 
				{{ album.description }}
			</div>
		</div>
		
		<div style="clear:left"></div>
		
		<h3>Add New Album</h3>
		<div class="album panel panel-default">
			<!-- default panel contents -->
			<div class="panel-heading">
				<div style="float:right">
					<input type="text" placeholder="yyyy/mm/dd" size="10" ng-model="adding_album.date"/>
				</div>
				<input type="text" placeholder="Title..." size="15" ng-model="adding_album.title"/>
			</div>

			<div class="description" > 
				<textarea ng-model="adding_album.description" placeholder="Description..." rows="4" style="width: 100%"></textarea>
			</p>
			
			<p>
				<input type="text" placeholder="Album name..." ng-model="adding_album.name" style="width:100%">
			</p>
			
			<p>
				<button ngclick="addAlbum(adding_album)" type="button" class="btn btn-success">Add New Album</button>
			</p>
		</div>
	
	</div>

	

<script>
	function AlbumListController($scope) {
		$scope.albums = [ 
               { name: 'madrid1309', title: 'Weekend in Madrid', date: '2013-09-01', description: 'My favourite trip' },
               { name: 'iceland1404', title: 'Holiday in Iceland', date: '2014-04-15', description: 'This place is cold' },
               { name: 'thailand1210', title: 'Surfing in Thailand', date: '2012-10-01', description: 'So hot!' },
               { name: 'australia1207', title: 'Wedding in Australia', date: '2012-07-31', description: 'So many kangaroos and koalas!' } 
			];
			
		adding_album =  { };
			
		$scope.addAlbum = function (new_album) {
		 alert("hello!");
			$scope.albums.push(new_album);
		}
		alert("here!");
			
	}
</script>
</body>
</html>
